@charset "UTF-8";
body{
	background-image:url(../image/wood_1.png);
}

.wrap{
	width: 970px;
	margin: auto;
	border : 1px solid black;
	background-color: ivory;
}

.null_menu{
	width : 968px;
	border : 1px solid black;
	text-align: center;
	height: 150px;
	font-size: 40px;
	font-weight: 900;
    font-style: italic;
    padding: 3% 0;
}

.loc-map{
	background-image: url(../image/map.png);
}
.res_info_wrap > div{
	margin-left: 15px;
}

.flex{
	display: flex;
}
.msg{
	border : 1px solid black;
	width:  350px;
	height: 75px;
	border-radius: 15px;
	margin: auto;
}


.loc-map{
	border : 1px solid black;
	width: 567px;
  	height: 300px;
  	float: left;
}
.restorant_info{
	border : 1px solid black;
	width: 400px;
    height: 300px;
    float: right;
}
.common-info{
	display : flow-root;
	width : 968px;
	height: 200px;
	border : 1px solid black;
	
}
.common-info > div{
	float: left;
	margin: 20px;
	width : 150px;
	height: 150px;
	border : solid black 1px;
	border-radius: 30px;
	
}
.common-info > div >div{
	border : solid black 1px;
	background-color: white;
	border-radius: 30px;
	width: 65px;
	margin: 6px;
	
}

.place-alone{
	background-image: 	url(../image/place_alone.png);
	background-size: cover;
}
.place-group{
	background-image: 	url(../image/place_group.png);
	background-size: cover;
}
.sit-floor{
	background-image: 	url(../image/sit_floor.png);
	background-size: cover;

}
.sit-chair{
	background-image: 	url(../image/sit_chair.png);
	background-size: cover;

}
.standing{
	background-image: 	url(../image/standing.png);
	background-size: cover;
}


